<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mx-2">Filtro: </label>
    <input type="text" class="form mx-2" placeholder="Digite aqui"
      [(ngModel)]="filtroLista"
    >
    <hr>
  </div>
</div>

<table class="table table-dark table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()">
          {{!exibirImagem ? 'Mostrar' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let e of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImagem"
             [isAnimated]="true"
          src="/assets/{{e.imagemURL}}" alt=""
          [style.width.px]="larguraImg"
          [style.margin.px]="margemImg"
        >
      </td>
      <td>{{e.eventoId}}</td>
      <td>{{e.tema}}</td>
      <td>{{e.local}}</td>
      <td>{{e.dataEvento}}</td>
      <td>{{e.qtdPessoas}}</td>
      <td>{{e.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mx-1">Editar</button>
        <button type="button" class="btn btn-danger btn-sm mx-1">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class='text-center'>
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
